<apex:page sidebar="false" applyHtmlTag="false" showHeader="false" applyBodyTag="false" >
    <html lang="en-us">
        <head>
            <meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
            <title>Delivery 21633129502</title> 
            <style type="text/css" media="screen" /> 

            <script async="async" src="https://www.googletagservices.com/tag/js/gpt.js"></script>
            <script>
              var googletag = googletag || {};
              googletag.cmd = googletag.cmd || [];
            </script>
            
            <script>
              googletag.cmd.push(function() {
                googletag.defineSlot('/21633129502/testadunit1', [1024, 768], 'div-gpt-ad-1529118447077-0').addService(googletag.pubads());
                googletag.pubads().enableSingleRequest();
                googletag.enableServices();
              });
            </script>
        </head>
        <body> 
            <!-- /21633129502/testadunit1 -->
            <h1>/21633129502/testadunit1</h1>
            <div id="div-gpt-ad-1529118447077-0" style="height:768px; width:1024px;">
            <script>
            googletag.cmd.push(function() { googletag.display('div-gpt-ad-1529118447077-0'); });
            </script>
            </div>
        </body>
    </html>
</apex:page>