<apex:page sidebar="false" applyHtmlTag="false" showHeader="false" applyBodyTag="false" >
    <html lang="en-us">
        <head>
            <meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
            <title>Delivery Impressions</title> 
            <style type="text/css" media="screen" /> 
            
            <script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
            <script>
              var googletag = googletag || {};
              googletag.cmd = googletag.cmd || [];
            </script>
            
            <script>
              googletag.cmd.push(function() {
                googletag.defineSlot('\/21633129502\/TestAdunit**02', [ 1024.0 ,  768.0 ], 'div-gpt-ad-1528977279912-0').addService(googletag.pubads());
                googletag.defineSlot('\/21633129502\/TestAdunit**03', [ 1024.0 ,  768.0 ], 'div-gpt-ad-1528977279912-1').addService(googletag.pubads());
                googletag.defineSlot('\/21633129502\/TestAdunit**04', [ 1024.0 ,  768.0 ], 'div-gpt-ad-1528977279912-2').addService(googletag.pubads());
                googletag.defineSlot('\/21633129502\/TestAdunit**05', [ 1024.0 ,  768.0 ], 'div-gpt-ad-1528977279912-3').addService(googletag.pubads());
                googletag.defineSlot('\/21633129502\/TestAdunit**06', [ 1024.0 ,  768.0 ], 'div-gpt-ad-1528977279912-4').addService(googletag.pubads());
                googletag.defineSlot('\/21633129502\/TestAdunit**07', [ 1024.0 ,  768.0 ], 'div-gpt-ad-1528977279912-5').addService(googletag.pubads());
                googletag.defineSlot('\/21633129502\/TestAdunit**08', [ 1024.0 ,  768.0 ], 'div-gpt-ad-1528977279912-6').addService(googletag.pubads());
                googletag.defineSlot('\/21633129502\/TestAdunit**09', [ 1024.0 ,  768.0 ], 'div-gpt-ad-1528977279912-7').addService(googletag.pubads());
                googletag.defineSlot('\/21633129502\/testadunit1', [ 1024.0 ,  768.0 ], 'div-gpt-ad-1528977279912-8').addService(googletag.pubads());
                googletag.pubads().enableSingleRequest();
                googletag.enableServices();
              });
            function load()
            {
                alert('auto refresh');
                setTimeout("window.open(self.location, '_self');", 10000);
            }
            </script>
        </head>
        <body onload="load()">
            <!-- /21633129502/TestAdunit**02 -->
            <div><p>/21633129502/TestAdunit**02 </p></div>
            <div id='div-gpt-ad-1528977279912-0' style='height:768px; width:1024px;'>
            <script>
            googletag.cmd.push(function() { googletag.display('div-gpt-ad-1528977279912-0'); });
            </script>
            </div>
            
            <!-- /21633129502/TestAdunit**03 -->
            <div><p>/21633129502/TestAdunit**03 </p></div>
            <div id='div-gpt-ad-1528977279912-1' style='height:768px; width:1024px;'>
            <script>
            googletag.cmd.push(function() { googletag.display('div-gpt-ad-1528977279912-1'); });
            </script>
            </div>
            
            <!-- /21633129502/TestAdunit**04 -->
            <div><p>/21633129502/TestAdunit**04 </p></div>
            <div id='div-gpt-ad-1528977279912-2' style='height:768px; width:1024px;'>
            <script>
            googletag.cmd.push(function() { googletag.display('div-gpt-ad-1528977279912-2'); });
            </script>
            </div>
            
            <!-- /21633129502/TestAdunit**05 -->
            <div><p>/21633129502/TestAdunit**05 </p></div>
            <div id='div-gpt-ad-1528977279912-3' style='height:768px; width:1024px;'>
            <script>
            googletag.cmd.push(function() { googletag.display('div-gpt-ad-1528977279912-3'); });
            </script>
            </div>
            
            <!-- /21633129502/TestAdunit**06 -->
            <div><p>/21633129502/TestAdunit**06 </p></div>
            <div id='div-gpt-ad-1528977279912-4' style='height:768px; width:1024px;'>
            <script>
            googletag.cmd.push(function() { googletag.display('div-gpt-ad-1528977279912-4'); });
            </script>
            </div>
            
            <!-- /21633129502/TestAdunit**07 -->
            <div><p>/21633129502/TestAdunit**07 </p></div>
            <div id='div-gpt-ad-1528977279912-5' style='height:768px; width:1024px;'>
            <script>
            googletag.cmd.push(function() { googletag.display('div-gpt-ad-1528977279912-5'); });
            </script>
            </div>
            
            <!-- /21633129502/TestAdunit**08 -->
            <div><p>/21633129502/TestAdunit**08 </p></div>
            <div id='div-gpt-ad-1528977279912-6' style='height:768px; width:1024px;'>
            <script>
            googletag.cmd.push(function() { googletag.display('div-gpt-ad-1528977279912-6'); });
            </script>
            </div>
            
            <!-- /21633129502/TestAdunit**09 -->
            <div><p>/21633129502/TestAdunit**09 </p></div>
            <div id='div-gpt-ad-1528977279912-7' style='height:768px; width:1024px;'>
            <script>
            googletag.cmd.push(function() { googletag.display('div-gpt-ad-1528977279912-7'); });
            </script>
            </div>
            
            <!-- /21633129502/testadunit1 -->
            <div><p>/21633129502/testadunit1</p></div>
            <div id='div-gpt-ad-1528977279912-8' style='height:768px; width:1024px;'>
            <script>
            googletag.cmd.push(function() { googletag.display('div-gpt-ad-1528977279912-8'); });
            </script>
            </div>
            
        </body>
    </html>
</apex:page>